body {
  font-family: “04b03”;
  color: Ivory;
}
#content {
  width: 640px;
  min-width:680px;
  border-radius:10px 10px 10px 10px;
  box-shadow:6px 5px 9px #292929;
  padding: 0px 20px 20px 20px;
  background-color: black;
}
@font-face {
  font-family: “04b03”;
  src: url(http://static.tumblr.com/5fd89aw/aFUlmf7ca/04b03.ttf);
}
.yellow {
  color: yellow;
}
#startscreen {
  padding: 20px;
  height: 350px;
}
#startscreen p {
  text-align: center;
  font-size: 150%;
  margin: 17px;
}
#startscreen p a {
  color: #8579dd;
}
#field {
  visibility: hidden;
  height: 0px;
}
#field_overlay {
  position: absolute;
  top: 103px;
  left: 28px;
  opacity: 0.2;
  background: lime;
}
#field_gameover {
  visibility: hidden;
  position: absolute;
  color: white;
  background: black;
  opacity: 0.9;
  top: 480px;
  height: 100px;
  text-align: center;
}
#field_gameover p:first-child {
  font-size: 150%;
  margin-top: 13px;
  margin-bottom: 10px;
}
#field_table {
  border-collapse:collapse;
  background-color: black;
  background-image: url('pics/space.jpg');
  height: 100%;
  width: 100%;
}
#field_scoreboard table {
  width: 95%;
  font-size: 200%;
  text-transform: uppercase;
  table-layout: fixed;
}
#field_scoreboard table td {
  background-color: black;
  font-align: right;
}
#copyright {
  border-radius: 0px 0px 10px 10px;
  padding: 25px 0px 0px 0px;
  background-color: black;
  text-align: center;
  height: 40px;
}
#field_scoreboard {
  height: 80px;
  padding: 15px 0px 0px 0px;
  border-radius:10px 10px 0px 0px;
}

/* ###################################### */
/* ############# Entitys ################ */
/* ###################################### */

.space {
  background-image: url('pics/space.jpg');
}
.dirt {
  background-image: url('pics/dirt.jpg');
}
.boulder {
  background-image: url('pics/boulder.jpg');
  border-radius:20px 20px 20px 20px;
}
.brickwall, .magicwall {
  background-image: url('pics/wall.jpg');
}
.magicwall_active {
  background-image: url('pics/magicwall.gif');
}
.metal, .outbox {
  background-image: url('pics/metal.jpg');
}
.diamond {
  background-image: url('pics/diamond.gif');
}
.rockford {
  background-image: url('pics/rockford.gif');
}
.rockford_left {
  background-image: url('pics/rockford_left.gif');
}
.rockford_right {
  background-image: url('pics/rockford_right.gif');
}
.firefly {
  background-image: url('pics/firefly.gif');
}
.butterfly {
  background-image: url('pics/butterfly.gif');
}
.outbox_active {
  background-image: url('pics/outbox.gif');
}
.amoeba {
  background-image: url('pics/amoeba.gif'); 
}
.explode {
  background-image: url('pics/explode.gif'); 
}