#instructions           { padding: 1em; font-size: 12pt; width: 40em; --background-image: url('pics/space.jpg'); --color: #FFF5EE;}
#instructions ul li     { padding: 1em 0.5em; list-style-type: none; vertical-align: middle; border-top: 1px solid #CCC; min-height: 2em; }
#instructions ul li img { width: 32px; height: 32px; float: left; margin-right: 8px; border: 2px solid black; background-color: black; }
#instructions #keys li  { min-height: 0; border: 0; padding: 0; margin-left: 2em; list-style-type: disc; }
